<!DOCTYPE html>

<html>

<head>

    <%- include("../partials/headers") %> 
    
    <link rel="stylesheet" href="/css/main.css">

    <script defer src="builds/login.js"></script>

</head>

<title id="title/loginPage"><%- tallao %>  | <%- loginPage%></title>

<body>
    
    <div class="container startTopSeparation">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="/">
                    <img  style="width: 30%; " src="/imgs/tallao-logo-complete-es.svg" alt="Talla'o">
                </a>
            </div>
        </div>
    </div>

    <div class="container startTopSeparation  montserrat_font" >
        <div class="text-center karla_font">
            <h1 class="registrationFormTitleTxt" id="registrationFormTitleTxt"><%- loginSuggestion %> </h1>
            <h3 class="registrationFormSubTitleTxt" id="registrationFormSubTitleTxt"><%- yourScheduleYourTime %> </h3>
        </div>
        
        

        <div  class="paddingForm" id="frmUserLogin">
            
            

            <div class="form-row formRowSeparation">
                <div class="col-lg-12">
                    <label for="inputEmail" id="lbl4Email"><%- email %> </label>
                    <input type="text" class="form-control" id="inputEmail" placeholder="<%- email %>">
                </div>
            </div>

            <div class="form-row formRowSeparation">
                <div class="col-lg-12">
                    <label for="inputPassword" id="lbl4Password"> <%- password %> </label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="<%- password %> ">
                </div>
            </div>

            <div class="form-row formRowSeparation" id="registerLink"><a href="/register"><%- `${dontHaveAAccountQuestion} ${register}` %> </a></div>

            <button class="submitButtonLoginSuperUser formRowSeparation" id="submitLoginLaundry"><%- `${loginAction} ${as} ${laundry}` %> </button>

            <button class="submitButtonLogin formRowSeparation" id="submitLoginUser"><%- `${loginAction} ${as} ${user}` %></button>
        
        </div>

        

    </div>

</body>

<%- include("../partials/footer") %> 

</html>