<!DOCTYPE html>

<html>

<head>

    <%- include("../partials/headers") %> 

    
    <link rel="stylesheet" href="/css/main.css">
    
    <script defer src="builds/register.js"></script>

</head>

<title id="titleRegister"><%- `${tallao} | ${register} ${toFollowYourOrders}` %> </title>

<body>
    
    <div class="container startTopSeparation">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="/">
                    <img  style="width: 30%; " src="/imgs/tallao-logo-complete-es.svg" alt="Talla'o">
                </a>
            </div>
        </div>
    </div>



    <div class="container startTopSeparation  montserrat_font" >

        <div class="text-center karla_font">
            <h1 class="registrationFormTitleTxt" id="registrationFormTitleTxt"><%- `${register} ${toFollowYourOrders}` %> </h1>
            <h3 class="registrationFormSubTitleTxt" id="registrationFormSubTitleTxt"><%- allYourOrdersAtYourHand %> </h3>
        </div>
        
        <div class="text-center montserrat_font supTxt-TitleTxt-Separation hide" id="congrSection">    
            <div class="msgCongrats congrTxt bold"><%- registerSuccess %> </div>
            <div class="msgStartEnjoying titleTxt"> <%- nowYouCanLoginAndEnjoy %> </div>
            <div class="msgStartEnjoying titleTxt"><%- waitForConfirmationEmail %> </div>
            <div class="startTopSeparation"><a href="/loginPage" id="hasAccountLink"> <%- loginAction %> </a></div>
        </div>

        
        <div class="paddingForm" id="frmUserRegister">
            
            <div class="form-row ">

                <div class="col-lg-6 col-xs-6">
                    <label for="inputName" id="lbl4Name"><%- `${name} (${required})` %> </label>
                    <input type="text" class="form-control" name="inputName" id="inputName" placeholder="Nombre">
                </div>

                <div class="col-lg-6 col-xs-6 ">
                    <label for="inputSurname" id="lbl4Lastname"><%- `${surname} (${required})` %></label>
                    <input type="text" class="form-control" name="inputSurname" id="inputSurname" placeholder="Apellido">
                </div>

            </div>

            <div class="form-row formRowSeparation">
                <div class="col-lg-12">
                    <label for="inputEmail" id="lbl4Email"><%- `${email} (${required})` %></label>
                    <input type="text" class="form-control" name="inputEmail" id="inputEmail" placeholder="Correo Electrónico">
                </div>
            </div>

            <div class="form-row formRowSeparation">
                <div class="col-lg-12">
                    <label for="inputPassword" id="lbl4Password"><%- `${password} (${required})` %></label>
                    <input type="password" class="form-control" name="inputPassword" id="inputPassword" placeholder="Contraseña">
                </div>
            </div>

            <div class="form-row formRowSeparation">
                <div class="col-lg-12">
                    <label for="inputRePassword" id="lbl4RePassword"><%- `${reenter} ${the} ${password} (${required})` %></label>
                    <input type="password" class="form-control" name="inputRePassword" id="inputRePassword" placeholder="">
                </div>
            </div>

            <div class="form-row formRowSeparation">
                <div class="col-lg-12">
                    <label for="inputTargetMarket" id="lbl4TargetMarket"><%- howDidYouMeetUsQuestion %> </label>
                    <select name="inputTargetMarket" class="custom-select" name="inputTargetMarket" id="inputTargetMarket">
                        <option value="none" selected><%- chooseAnOption %> </option>
                        <option value="social-media" id="selectOption-social-media"><%- bySocialMedia %> </option>
                        <option value="internet-advertisement" id="selectOption-internet-advertisement"><%- byInternetAdvertisement %> </option>
                        <option value="real-advertisement" id="selectOption-real-advertisement"><%- byRealAdvertisement %> </option>
                        <option value="people-recommendation" id="selectOption-people-recommendation"><%- byPeopleRecommendation %> </option>
                        <option value="hear-someone" id="selectOption-hear-someone"><%- iHeardSomeone %> </option>
                    </select>
                </div>
            </div>

            <div class="form-row formRowSeparation" ><a href="/loginPage" id="hasAccountLink"><%- `${haveAnAccountQuestion} ${loginSuggestion}` %>  </a></div>

            <button class="submitButtonRegister  formRowSeparation" id="submitUserRegister"><%- register %> </button>
        
        </div>

    </div>

</body>

<%- include("../partials/footer") %> 

</html>